<div class="container-fluid paddding mb-5">
    <div class="row mx-0">
        <div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn">
            <div class="fh5co_suceefh5co_height"><img src="hinh/Thethao1.jpg" alt="img" />
                <div class="fh5co_suceefh5co_height_position_absolute"><a class="fh5co_good_font">Bóng đá</a></div>
                <div class="fh5co_suceefh5co_height_position_absolute_font">
                    <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Dec
                            31,2019
                        </a></div>
                    <div class=""><a href="single_detail.html" class="fh5co_good_font_2"> Man Utd - Man City: Định
                            đoạt hai
                            cuộc đua </a></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                {{!-- {{#each this.ArticleOfCat4}}
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2"><img src="hinh/suckhoe1.png" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"><a class="fh5co_good_font">{{CatName}}</a></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                    28,2019 </a></div>
                            <div class=""><a href="single_detail.html" class="fh5co_good_font_2">{{Article.TieuDe}}</a></div>
                        </div>
                    </div>
                </div>
                {{/each}} --}}
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2"><img src="hinh/suckhoe1.png" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"><a class="fh5co_good_font">Các
                                bệnh</a></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                    28,2019 </a></div>
                            <div class=""><a href="single_detail.html" class="fh5co_good_font_2"> Nắng nóng, nhiều
                                    em bé bị
                                    viêm não </a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2"><img src="hinh/kd.jpg" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"><a class="fh5co_good_font">Chứng
                                khoán</a></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                    28,2019 </a></div>
                            <div class=""><a href="single_detail.html" class="fh5co_good_font_2"> Chung cư nhỏ tại
                                    TP HCM
                                    tăng giá nửa tỷ đồng một căn </a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2"><img src="hinh/skcb0.png" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"><a class="fh5co_good_font">Các
                                bệnh</a></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                    28,2019 </a></div>
                            <div class=""><a href="single_detail.html" class="fh5co_good_font_2">Đau buồn có thể
                                    làm tăng
                                    64% nguy cơ bệnh tim </a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2"><img src="hinh/gttt0.jpg" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"><a class="fh5co_good_font">Thời
                                trang</a></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                    28,2019 </a></div>
                            <div class=""><a href="single_detail.html" class="fh5co_good_font_2"> Những bộ váy đẹp
                                    nhất
                                    lịch sử Met Gala </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-3">
    <div class="container animate-box" data-animate-effect="fadeIn">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Xem nhiều nhất</div>
        </div>
        <div class="owl-carousel owl-theme js" id="slider1">
            {{#each this.ArticleOfCat4}}
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><img src="hinh/bd2.jpg" alt=""
                            class="fh5co_img_special_relative" /></div>
                    <div class="fh5co_latest_trading_img_position_absolute"><a class="fh5co_good_font">{{Ten}}</a>
                    </div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="/categories/{{Article.idTin}}/single" class="text-white">{{Article.TieuDe}}</a>
                        <div class="fh5co_latest_trading_date_and_name_color"> Võ Kong Kiệt - March 7,2019</div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{!-- <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><img src="hinh/bd2.jpg" alt=""
                            class="fh5co_img_special_relative" /></div>
                    <div class="fh5co_latest_trading_img_position_absolute"><a class="fh5co_good_font">Bóng đá</a>
                    </div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="single_detail.html" class="text-white">Solskjaer trách móc hàng tiền đạo của Man
                            Utd</a>
                        <div class="fh5co_latest_trading_date_and_name_color"> Võ Kong Kiệt - March 7,2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><img src="hinh/phim0.jpg" alt=""
                            class="fh5co_img_special_relative" /></div>
                    <div class="fh5co_latest_trading_img_position_absolute"><a class="fh5co_good_font">phim</a>
                    </div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="single_detail.html" class="text-white"> Trailer Cersei sát cánh người tình trong
                            'Game of
                            Thrones' hot tuần qua </a>
                        <div class="fh5co_latest_trading_date_and_name_color"> VKKiet - March 7,2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><img src="hinh/phim1.jpg" alt=""
                            class="fh5co_img_special_relative" /></div>
                    <div class="fh5co_latest_trading_img_position_absolute"><a class="fh5co_good_font">phim</a>
                    </div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="single_detail.html" class="text-white"> Dàn diễn viên 'Avengers' khổ luyện cho
                            nhân vật
                        </a>
                        <div class="fh5co_latest_trading_date_and_name_color"> VKKiet - March 7,2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><img src="hinh/skmt0.jpg" alt=""
                            class="fh5co_img_special_relative" /></div>
                    <div class="fh5co_latest_trading_img_position_absolute"><a class="fh5co_good_font">Sân khấu-Mỹ
                            thuật</a>
                    </div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="single_detail.html" class="text-white"> Vợ con đồng nghiệp tiễn biệt nghệ sĩ Lê
                            Bình </a>
                        <div class="fh5co_latest_trading_date_and_name_color"> VKKiet - March 7,2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><img src="hinh/sk0.jpg" alt=""
                            class="fh5co_img_special_relative" /></div>
                    <div class="fh5co_latest_trading_img_position_absolute"><a class="fh5co_good_font">Dinh
                            dưỡng</a>
                    </div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="single_detail.html" class="text-white"> Rau trái thanh nhiệt cơ thể ngày nắng
                            nóng </a>
                        <div class="fh5co_latest_trading_date_and_name_color"> VKKiet- March 7,2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><img src="hinh/tt0.jpg" alt=""
                            class="fh5co_img_special_relative" /></div>
                    <div class="fh5co_latest_trading_img_position_absolute"><a class="fh5co_good_font">Thời
                            trang</a>
                    </div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="single_detail.html" class="text-white"> Sắc vóc tuổi đôi mươi của tiểu thư 'Game
                            of
                            Thrones' </a>
                        <div class="fh5co_latest_trading_date_and_name_color"> VKKiet - March 7,2019</div>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</div>
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Mới nhất</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="hinh/bd3.jpg" alt="" /></div>
                    <div>
                        <div class="c_g"> Bóng đá</div>
                        <a href="single_detail.html" class="d-block fh5co_small_post_heading"><span class="">Guardiola:
                                'Liverpool không sụp đổ vì thua
                                Barca'</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="hinh/bds0.jpg" alt="" /></div>
                    <div>
                        <div class="c_g">Bất động sản</div>
                        <a href="single_detail.html" class="d-block fh5co_small_post_heading"><span class="">Chuyên gia
                                lo
                                GDP giảm nếu siết tín dụng
                                bất động sản cao cấp</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="hinh/bd4.jpg" alt="" /></div>
                    <div>
                        <div class="c_g">Bóng đá</div>
                        <a href="single_detail.html" class="d-block fh5co_small_post_heading"><span class="">Mourinho đá
                                xoáy Neville và
                                Scholes</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="hinh/sk1.jpg" alt="" /></div>
                    <div>
                        <div class="c_g">Dinh dưỡng</div>
                        <a href="single_detail.html" class="d-block fh5co_small_post_heading"><span class="">Mực
                                khô bị mốc
                                rửa sạch có ăn được
                                không?</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="hinh/cb3.jpg" alt="" /></div>
                    <div>
                        <div class="c_g">Các bệnh</div>
                        <a href="single_detail.html" class="d-block fh5co_small_post_heading"><span class="">3
                                loại ung thư
                                có thể chữa khỏi nếu tầm soát sớm</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="hinh/phim2.jpg" alt="" /></div>
                    <div>
                        <div class="c_g">Phim</div>
                        <a href="single_detail.html" class="d-block fh5co_small_post_heading"><span class="">Tiền
                                lương của
                                các sao Marvel</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2019</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Bóng đá</div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="hinh/bd5.png" alt=""></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box fadeInUp animated-fast">
                        <a href="single_detail.html" class="fh5co_magna py-2"> Newcastle - Liverpool: Gượng dậy
                            sau thảm bại </a> <a href="single.html" class="fh5co_mini_time py-3"> VKo Kiet -
                            April 18,2019 </a>
                        <div class="fh5co_consectetur"> Thầy trò HLV Jurgen Klopp sẽ tái chiếm đỉnh bảng Ngoại hạng
                            Anh ở vòng 37, khi thi đấu
                            sớm hơn Man City.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Chứng khoán</div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="hinh/ck0.jpg" alt=""></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="single_detail.html" class="fh5co_magna py-2">Lãi ròng SBT tăng hơn gấp đôi cùng
                            kỳ </a> <a href="#" class="fh5co_mini_time py-3"> VKo Kiet -
                            April 18,2019 </a>
                        <div class="fh5co_consectetur"> Lợi nhuận sau thuế của doanh nghiệp trong quý III niên độ
                            tài chính 2018-2019 đạt 284 tỷ
                            đồng, cao hơn 106% so với cùng kỳ niên độ trước.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Phim</div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img">
                                <img src="hinh/phim3.jpg" alt="">
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="single_detail.html" class="fh5co_magna py-2"> Những vai diễn ghi dấu ấn Lê
                            Bình trên màn ảnh </a> <a href="#" class="fh5co_mini_time py-3"> VKo Kiet -
                            April 18,2019 </a>
                        <div class="fh5co_consectetur"> Nghệ sĩ quá cố hóa thân vào các nhân vật có số
                            phận từ khổ cực, bi kịch
                            đến phản diện, hành động.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Các bệnh</div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="hinh/cb4.jpg" alt=""></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="single_detail.html" class="fh5co_magna py-2">Ngày càng nhiều người trẻ bị đột
                            quỵ</a> <a href="#" class="fh5co_mini_time py-3"> VKo Kiet -
                            April 18,2019 </a>
                        <div class="fh5co_consectetur"> May mắn sống sót sau cơn đột quỵ ở tuổi 28, ba năm qua sức
                            khỏe chị Ngọc Anh ở Đồng Nai
                            vẫn bị ảnh hưởng.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Thời trang</div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="hinh/tt1.jpg" alt=""></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="single_detail.html" class="fh5co_magna py-2">Phong cách thời trang của tân hoàng
                            hậu Nhật Bản</a> <a href="#" class="fh5co_mini_time py-3"> VKo Kiet -
                            April 18,2019 </a>
                        <div class="fh5co_consectetur"> Bà Masako Owada chuộng trang phục đơn sắc sẫm màu, thường
                            phối đồ ăn ý cùng chồng.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Dinh dưỡng</div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="hinh/dd0.png" alt=""></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="single_detail.html" class="fh5co_magna py-2">Những thực phẩm giúp thanh lọc
                            gan</a> <a href="#" class="fh5co_mini_time py-3"> VKo Kiet -
                            April 18,2019 </a>
                        <div class="fh5co_consectetur"> Bổ sung tỏi, các loại trái cây chứa nhiều vitamin C, trà
                            xanh, nghệ, dầu ô liu... vào
                            chế độ ăn hàng ngày giúp gan sạch, khỏe mạnh hơn.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 animate-box fadeInRight animated-fast" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <a href="#" class="fh5co_tagg">Business</a>
                    <a href="#" class="fh5co_tagg">Technology</a>
                    <a href="#" class="fh5co_tagg">Sport</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                    <a href="#" class="fh5co_tagg">Photography</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Education</a>
                    <a href="#" class="fh5co_tagg">Social</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Popular</div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="hinh/ttbd2.jpg" alt="img" class="fh5co_most_trading">
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"><a href="single_detail.html">Man Utd - Man City: Định
                                đoạt hai cuộc đua.</a>
                        </div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2019</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="hinh/skmt0.jpg" alt="img" class="fh5co_most_trading">
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> <a href="single_detail.html">Vợ con đồng nghiệp tiễn
                                biệt nghệ sĩ Lê Bình.</a>
                        </div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2019</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="hinh/bd5.png" alt="img" class="fh5co_most_trading">
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"><a href="single_detail.html">Newcastle - Liverpool:
                                Gượng dậy sau thảm bại.</a>
                        </div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2019</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center"><img src="hinh/phim3.jpg" alt="img" class="fh5co_most_trading">
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"><a href="single_detail.html">Những vai diễn ghi
                                dấu ấn Lê Bình trên màn ảnh.</a>
                        </div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2019</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>